body {
  background-image: url("./weatherback.svg");
  background-size: cover;
}
.body {
  max-width: 700px;
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.title {
  text-align: center;
  font-size: 17px;
  padding: 20px 0 5px 0;
  color: #333333;
}

strong {
  text-decoration: underline;
  color: #596aca;
}

hr {
  border: 1px solid #000000;
  margin: 5px 30px;
}

form {
  font-size: 20px;
  margin: auto 50px;
}
.type {
  margin-left: 15px;
  padding: 7px 25px;
  background-color: #ecf4f6;
  border-color: #596aca;
  border-radius: 5px;
}
.search {
  margin: auto 15px;
  font-size: 25px;
  padding: 5px 7px;
  border-radius: 20%;
  background-color: #f7c8a8;
  border-color: #ffa217;
}

.current {
  font-size: 20px;
  padding: 9px 7px;
  border-radius: 20%;
  background-color: #a2e881;
  border-color: #78b75b;
}

.searched {
  margin-top: 20px;
}

.column-1 {
  margin-left: 40px;
}
#city {
  font-size: 20px;
}

#time {
  font-size: 15px;
}

#des {
  font-size: 15px;
}

#temp {
  text-decoration: none;
}

.temratures {
  margin: 10px;
}

div.col {
  margin-top: -10px;
  margin-bottom: -20px;
}

.main-icon {
 width: 120px;
}

.rainbow {
  margin-right: 20px;
}

.nexts {
  text-align: center;
  color: #596aca;
  text-decoration: underline;
  font-size: 20px;
}

.frame {
  border: 2px solid #596aca;
  border-radius: 10px;
  max-width: 650px;
  margin: 5px auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 45.2%,
    rgb(21, 186, 196) 100.3%
  );
}

#forecast .row {
  padding: 5px 10px;
}

.container {
  display: inline;
}

.forecast-icon {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.forecast-date {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

.forecast-temp {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.buttom {
  margin-top: 30px;
}

.sorce-link {
  font-size: medium;
  text-align: center;
  padding: 10px 5px;
}

.thesrcLinks {
  color: #54b35e;
}

.thesrcLinks:hover {
  color: #54bebd;
}
